<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
		<nav class='navbar bg-light'>
			<ul class="nav nav-tabs">
				<li class="nav-item"><a class='nav-link' href="{% url 'index' %}">Django</a></li>
				<li class="nav-item"><a class='nav-link' href="{% url 'test_app:register' %}">Register</a></li>
				{% if user.is_authenticated %}
				<li class='nav-item'><a class='nav-link' href="{% url 'logout' %}">Logout</a></li>
				{% else %}
				<li class='nav-item'><a class='nav-link' href="{% url 'test_app:user_login' %}">Login</a></li>
				{% endif %}
			</ul>
		</nav>
		<div class='container'>
			<div class='jumbotron'>
				{% block body_block %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>